<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <!-- 异常配置 -->
<!-- 	<error-page>
	<exception-type>javax.servlet.ServletException</exception-type>
	<location>/error.jsp</location>
	</error-page> -->
	<!-- 找不到页面配置 -->
	<error-page>
	<error-code>404</error-code>
	<location>/jsp/error/404.jsp</location>
	</error-page>
	<error-page>
	<error-code>500</error-code>
	<location>/jsp/error/500.jsp</location>
	</error-page>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HenuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HenuServlet</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TimetableServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.TimetableServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SchoolServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.SchoolServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YpcServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.YpcServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reset</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.Reset</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateScore</servlet-name>
    <servlet-class>com.superDaxue.servlet.UpdateScore</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManageSchool</servlet-name>
    <servlet-class>com.manage.servlet.SchoolServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HainuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HainuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckNumServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.CheckNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GdqyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GdqyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LnitServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.LnitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HualixyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HualixyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DfxyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.DfxyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HneuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HneuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HhuwtianServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HhuwtianServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HebeuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HebeuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NjitServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NjitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SdmuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SdmuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XcuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.XcuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FsptServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.FsptServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LdxyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.LdxyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XxuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.XxuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DzuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.DzuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JxgymyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.JxgymyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GdouServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GdouServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SiitServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SiitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangqinglzufeServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.ChangqinglzufeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SptcServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SptcServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WhitServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.WhitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HutServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SzituServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SzituServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JxgzyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.JxgzyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YcxyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.YcxyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SanquanyixueyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SanquanyixueyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>KmmcServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.KmmcServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FzfuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.FzfuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GuatServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GuatServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XagdyzServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.XagdyzServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FeeduServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.FeeduServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XdkjServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.XdkjServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FjnuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.FjnuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NyjjServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NyjjServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YrctiServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.YrctiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SqncServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SqncServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JlnuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.JlnuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LlhcServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.LlhcServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NjustServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NjustServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HljpServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HljpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JxcfsServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.JxcfsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GdcxxyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GdcxxyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GdhscServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GdhscServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MdjnuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.MdjnuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SxitServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SxitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NtstServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NtstServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GdpaServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GdpaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TsncServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.TsncServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JxstnupiServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.JxstnupiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NjithServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NjithServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SanxiauServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SanxiauServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UscServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.UscServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YykjServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.YykjServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HncuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HncuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HuhstServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HuhstServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WustServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.WustServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GzdhxyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GzdhxyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JitServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.JitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CdutServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.CdutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QdcServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.QdcServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GdufeServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GdufeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GwngServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GwngServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YcitServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.YcitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YnuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.YnuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Ycxy2Servlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.Ycxy2Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HznuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HznuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SxdtdxServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SxdtdxServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XzitServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.XzitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NpumdServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NpumdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NjutcmServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NjutcmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GdufServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GdufServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JcutServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.JcutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AhpuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.AhpuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SziitxyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SziitxyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NjciServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NjciServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PuscServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.PuscServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NckjxyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NckjxyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.CustServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NjtechServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NjtechServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HebiaceServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HebiaceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TellhoweduServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.TellhoweduServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JlbtcServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.JlbtcServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Lyun</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.Lyun</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YngsxyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.YngsxyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SdufeServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.SdufeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShxyServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.ShxyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FjccServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.FjccServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuptServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.BuptServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LuibeServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.LuibeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GzmodernServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.GzmodernServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NjrtsServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.NjrtsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LzlqcServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.LzlqcServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HzuServlet</servlet-name>
    <servlet-class>com.superDaxue.servlet.school.HzuServlet</servlet-class>
  </servlet>
















































































 








 
















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/servlet/ScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimetableServlet</servlet-name>
    <url-pattern>/servlet/TimetableServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HenuServlet</servlet-name>
    <url-pattern>/henu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolServlet</servlet-name>
    <url-pattern>/servlet/SchoolServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YpcServlet</servlet-name>
    <url-pattern>/ypc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reset</servlet-name>
    <url-pattern>/reset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateScore</servlet-name>
    <url-pattern>/servlet/UpdateScore</url-pattern>
  </servlet-mapping>	
   <servlet-mapping>
    <servlet-name>ManageSchool</servlet-name>
    <url-pattern>/manage/school</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HainuServlet</servlet-name>
    <url-pattern>/hainu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckNumServlet</servlet-name>
    <url-pattern>/servlet/CheckNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GdqyServlet</servlet-name>
    <url-pattern>/gdqy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LnitServlet</servlet-name>
    <url-pattern>/lnit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HualixyServlet</servlet-name>
    <url-pattern>/hualixy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DfxyServlet</servlet-name>
    <url-pattern>/dfxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HneuServlet</servlet-name>
    <url-pattern>/hneu</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>HhuwtianServlet</servlet-name>
    <url-pattern>/hhuwtian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HebeuServlet</servlet-name>
    <url-pattern>/hebeu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NjitServlet</servlet-name>
    <url-pattern>/njit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SdmuServlet</servlet-name>
    <url-pattern>/sdmu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XcuServlet</servlet-name>
    <url-pattern>/xcu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FsptServlet</servlet-name>
    <url-pattern>/fspt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LdxyServlet</servlet-name>
    <url-pattern>/ldxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XxuServlet</servlet-name>
    <url-pattern>/xxu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DzuServlet</servlet-name>
    <url-pattern>/dzu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JxgymyServlet</servlet-name>
    <url-pattern>/jxgymy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GdouServlet</servlet-name>
    <url-pattern>/gdou</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SiitServlet</servlet-name>
    <url-pattern>/siit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangqinglzufeServlet</servlet-name>
    <url-pattern>/changqinglzufe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SptcServlet</servlet-name>
    <url-pattern>/sptc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WhitServlet</servlet-name>
    <url-pattern>/whit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HutServlet</servlet-name>
    <url-pattern>/hut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SzituServlet</servlet-name>
    <url-pattern>/szitu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JxgzyServlet</servlet-name>
    <url-pattern>/jxgzy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YcxyServlet</servlet-name>
    <url-pattern>/ycxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SanquanyixueyServlet</servlet-name>
    <url-pattern>/sanquanyixuey</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KmmcServlet</servlet-name>
    <url-pattern>/kmmc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FzfuServlet</servlet-name>
    <url-pattern>/fzfu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuatServlet</servlet-name>
    <url-pattern>/guat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XagdyzServlet</servlet-name>
    <url-pattern>/xagdyz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeeduServlet</servlet-name>
    <url-pattern>/feedu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XdkjServlet</servlet-name>
    <url-pattern>/xdkj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FjnuServlet</servlet-name>
    <url-pattern>/fjnu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NyjjServlet</servlet-name>
    <url-pattern>/nyjj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YrctiServlet</servlet-name>
    <url-pattern>/yrcti</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SqncServlet</servlet-name>
    <url-pattern>/sqnc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JlnuServlet</servlet-name>
    <url-pattern>/jlnu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LlhcServlet</servlet-name>
    <url-pattern>/llhc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NjustServlet</servlet-name>
    <url-pattern>/njust</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HljpServlet</servlet-name>
    <url-pattern>/hljp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JxcfsServlet</servlet-name>
    <url-pattern>/jxcfs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GdcxxyServlet</servlet-name>
    <url-pattern>/gdcxxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GdhscServlet</servlet-name>
    <url-pattern>/gdhsc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MdjnuServlet</servlet-name>
    <url-pattern>/mdjnu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SxitServlet</servlet-name>
    <url-pattern>/sxit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NtstServlet</servlet-name>
    <url-pattern>/ntst</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GdpaServlet</servlet-name>
    <url-pattern>/gdpa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TsncServlet</servlet-name>
    <url-pattern>/tsnc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JxstnupiServlet</servlet-name>
    <url-pattern>/jxstnupi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NjithServlet</servlet-name>
    <url-pattern>/njith</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SanxiauServlet</servlet-name>
    <url-pattern>/sanxiau</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UscServlet</servlet-name>
    <url-pattern>/usc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YykjServlet</servlet-name>
    <url-pattern>/yykj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HncuServlet</servlet-name>
    <url-pattern>/hncu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HuhstServlet</servlet-name>
    <url-pattern>/huhst</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WustServlet</servlet-name>
    <url-pattern>/wust</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GzdhxyServlet</servlet-name>
    <url-pattern>/gzdhxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JitServlet</servlet-name>
    <url-pattern>/jit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CdutServlet</servlet-name>
    <url-pattern>/cdut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QdcServlet</servlet-name>
    <url-pattern>/qdc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GdufeServlet</servlet-name>
    <url-pattern>/gdufe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GwngServlet</servlet-name>
    <url-pattern>/gwng</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YcitServlet</servlet-name>
    <url-pattern>/ycit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YnuServlet</servlet-name>
    <url-pattern>/ynu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ycxy2Servlet</servlet-name>
    <url-pattern>/ycxy2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HznuServlet</servlet-name>
    <url-pattern>/hznu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SxdtdxServlet</servlet-name>
    <url-pattern>/sxdtdx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XzitServlet</servlet-name>
    <url-pattern>/xzit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NpumdServlet</servlet-name>
    <url-pattern>/npumd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NjutcmServlet</servlet-name>
    <url-pattern>/njutcm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GdufServlet</servlet-name>
    <url-pattern>/gduf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JcutServlet</servlet-name>
    <url-pattern>/jcut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AhpuServlet</servlet-name>
    <url-pattern>/ahpu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SziitxyServlet</servlet-name>
    <url-pattern>/sziitxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NjciServlet</servlet-name>
    <url-pattern>/njci</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PuscServlet</servlet-name>
    <url-pattern>/pusc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NckjxyServlet</servlet-name>
    <url-pattern>/nckjxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustServlet</servlet-name>
    <url-pattern>/cust</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NjtechServlet</servlet-name>
    <url-pattern>/njtech</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HebiaceServlet</servlet-name>
    <url-pattern>/hebiace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TellhoweduServlet</servlet-name>
    <url-pattern>/tellhowedu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JlbtcServlet</servlet-name>
    <url-pattern>/jlbtc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lyun</servlet-name>
    <url-pattern>/lyun</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YngsxyServlet</servlet-name>
    <url-pattern>/yngsxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SdufeServlet</servlet-name>
    <url-pattern>/sdufe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShxyServlet</servlet-name>
    <url-pattern>/shxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FjccServlet</servlet-name>
    <url-pattern>/fjcc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuptServlet</servlet-name>
    <url-pattern>/bupt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LuibeServlet</servlet-name>
    <url-pattern>/luibe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GzmodernServlet</servlet-name>
    <url-pattern>/gzmodern</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NjrtsServlet</servlet-name>
    <url-pattern>/njrts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LzlqcServlet</servlet-name>
    <url-pattern>/lzlqc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HzuServlet</servlet-name>
    <url-pattern>/hzu</url-pattern>
  </servlet-mapping>


  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
