@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "SimHei" arial helvetica;
}

html:root {
    color: #222;
}
html{
	  width: 100%;
      overflow-x: hidden;
      max-width: 480px;
    margin:0 auto;
}
header{
    background:#0E8EE7;
    padding-bottom: 1rem;
    color:#fff;
}

.school {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.supply {
    position: absolute;
    top: 0.5rem;
    font-size: 0.8rem;
    right: 0.5rem;
}
.supply a,.update a{
	 text-decoration:none;
	 color:#fff;
}

h4 {
    text-align: center;
    padding-top: 4rem;
    font-size: 1.3rem;
}

.navbar {
    /* display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: box;*/
    display: -moz-box;
    /* Firefox 17- */
    display: -webkit-flex;
    /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex;
    /* Firefox 18+ */
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    display: -webkit-box;
    /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    border: solid #EFEFF0;
    border-width: 0.25rem 0;
    line-height: 2.2rem;
}

.navbar > div {
    /*flex: 1;
	box-flex:1;
	-webkit-box-flex:1;
	-webkit-flex: 1;*/
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    text-align: center;
    border-right: 1px solid #efeff0;
}
.gpa,
.update{
	display:inline-block;
	/* text-align:center; */
	margin-left:0.5rem;
	font-size: 0.8rem;
	veritical-align: top;
	margin-top: 2rem;
}
.update{
	float: right;
	margin-right: 7px;
	font-size: 1.0rem;
}

.selected {
    border-bottom: 3px solid #8F8F8F;
    color: #3381ff;
}

.term {
    text-align: center;
    color: #3381ff;
    line-height: 2rem;
    margin-top: 0.5rem;
}

.table table {
    border-collapse: collapse;
    width: 98%;
    border: 1px solid #ddd;
    margin: 1rem auto;
}

.table table tr td,
.table table tr th {
    border: 1px solid #ddd;
    line-height: 2.2rem;
    text-align: center;
}

.table table tr td:first-of-type,
.table table tr th:first-of-type {
    text-align: left;
    padding-left:1rem;
}

.append {
    height: 2.5rem;
}


nav {
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    border-top: 2px solid #CFD1D1;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    max-width: 480px;
    left: auto;
    right: auto;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 12px;
}

nav div img {
    height: 1.2rem;
    margin-top: 0.5rem;
}

nav .on {
    color: #3480FC;
}

.code{
	position: fixed;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.5);
	z-index: 120;
	top: 0;
	left: 0;
	display: none;
}

.code .window{
	width:88%;
	margin: 0 auto;
	margin-top:20%;
	border-top: 5px solid #0d8fe7;
	background: #fff;
}

.code .window p{
	text-align:center;
	font-size: 1.3rem;
	line-height: 3.5rem;
}

.code .window .in{
	border-top: 1px solid #e0e0e2;
	padding: 2rem;
	width: 100%;
}

.code .window .input{
	border: 1px solid #e0e0e2;
	padding: 0.6rem;
	width: 60%;
	display: inline-block;
	vertical-align:middle;
}
.code .window img{
	vertical-align:middle;
}
.code .window .input input{
	border:none;
	width: 90%;
	line-height: 21px;
	outline:none;
}

.button{
	width: 45%;
	line-height: 2.5rem;
	border:  1px solid #e0e0e2;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
	text-align:center;
	margin: 2rem 0 0;
}

.reload{
	
}

.ok{
	background: #0d8fe7;
	color: #fff;
	float: right;
}
.error{
	display:none;
}
.error .tip{
	position: absolute;
	top:0;
	left:0;
	margin:50% 20% 0;
	text-align:center;
	padding:3rem 0;
	background: #fff;
	z-index:100;
	width: 60%;
	border: 1px solid #ddd;
}

.hover{
	position: fixed;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.5);
	z-index: 120;
	top: 0;
	left: 0;
	display: none;
}

.spinner {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 10px;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-30px;
  margin-top:-30px;
}
 
.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 6px;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}